<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HumanResources.Properties.Settings.humanresourcesConnectionString"
            connectionString="server=localhost;User Id=root;password=12341234;Persist Security Info=True;database=humanresources"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>